*{
    padding: 0%;
    margin: 0%;
}

body{
    padding: 0%;
    margin: 0%;
    background-color:#fff ;
}

.titulo{

    margin-top:5%;
    margin-bottom: 2%;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: violet;
    border-radius: 8px;
    
}

footer{
    padding: 1%;
    font-size: 80%;
    border-top:2px solid purple;
    background:rgb(0, 0, 0);
    color: gray;
    grid-area: footer;
    margin-bottom: 0%;
}

section{
    display:flex;
    justify-content: center;
   align-items: center;
   flex-direction: column;  
}

/*Botones*/
.buttonServicio{
    width: 25%; 
}

.buttonServicio a:hover{
    color: purple;
}

.buttonConoce{
    padding: 2%;
}

.buttonConoce a:hover{
    color: purple;

}
.buttonContacto{
    @extend .buttonConoce
}
@import "./import/inicio";
@import "./import/conoce";
@import "./import/servicio";
@import "./import/contacto";
@import "./import/maps";
@import "./import/nav";
@import "./import/index";
@import "./import/variables";


@mixin sizes($padding, $margin){
    margin:$margin;
    padding: $padding;
    a{
        text-decoration: none;
        color: #fff
    }
}

.btn-twitter{
    @include sizes(1%, 2%);
    border-radius: 4px;
    background-color: #55acee;
    
}

.btn-facebook{
    @include sizes(1%, 2%);
    border-radius: 4px;
    background-color: #3a5795;
}

.btn-whatsapp{
    @include sizes(1%, 2%);
    border-radius: 4px;
    background-color: #30c266;
}

.whatsApp{
    width: 50%;
    display:flex;
}
/*Variables*/


@media(max-width:700px){
    nav{
        flex-direction: column;
    }
    .infoIndex{
        justify-content: center;
        display: grid;
        grid-template-rows: auto auto auto auto;
    }
    .titulo{
        margin-left: 10%;
        grid-row: 1/2;
    }
    
    .parrafo2{
        margin-left: 15%;
        grid-row: 3/4;}
    .parrafo1{
        margin-left: 15%;
            grid-row: 2/3;    
}
.parrafoIndex3{
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    font-size: 30px;
    grid-row: 4/5;
}
/*Conoce*/
.quienSoy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/*Servicio*/

.contenedorServicioParrafo1{
   
    .servicioParrafo1{
        width: 90%;
        padding: 2%;
        border-radius: 8px;
    }
}

.imagenesServicio img{
    width: 120px;
    height: 120px;
}
.imgCostos{
    width: 80%;
    img{
    padding: 2%;
    width: 150px;
    height: 150px;
}
}
.costosImg {margin-top: 4%;
    margin-bottom: 4%;
    img{   
        width: 200px;}
}
img{   
width: 200px;}

.card{
    margin-top:15%;
    margin-bottom: 15%;
    width: 70%;
}



.buttonServicio{
    width: 50%;
}
.parrafosGrandes1{
    font-size: 24px;
}

.formulario{
    width: 80%;
}

.bodyIndex{
    background: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75));
    background-image:linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)),
    url(imagenes/imagenDesarrollo.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;


    
    
}
.imgCostosBox{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .costosCard{
        width:60%;
    }
}

}
@media(max-width:400px){

    nav ul li a{
        line-height: 80px;
        color:$color3;
        padding:10px;
        text-decoration: none;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .imagenesServicio img{
        width: 100px;
        height: 100px;
    }
}