/*Contacto*/
@import "./variables";

.parrafoContactoBackground{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:$color4;

.ParrafoContacto{
    box-sizing: border-box;
    padding: 2%;
    background-color:black;
    color: $color1;
    width: 80%;
}
}

.formulario{
    box-sizing: border-box;
    margin-bottom: 5%;
    color: $color2;
}